.navbar{
  height:5vh;
  margin-bottom: 1vh;
}
.right-side{
  float: right;
  border-left: 1px #696969 solid;
  height: 92vh;
  padding-right: 0px;
  padding-left: 0px;
}

.left-side{
  float: left;
  height: 92vh;
  padding-left: 0px;
  padding-right: 0px
}

.section-title{
  margin: 0px;
  height: 4vh;
}

.request-top{
  padding-left: 0px;
  height: 45vh;
  overflow-y: auto;
  border-bottom: solid 1px #696969
}

.request-bottom{
  padding-left: 0px;
  height: 35vh;
  overflow-y: auto;
}
.owned-div{
  padding-right: 0px;
  height:55%;
  overflow-y: auto;
  border-bottom: solid 1px #696969
}

.borrowed-div{
  padding-right: 0px;
  height: 40%;
  overflow-y: auto;
}

.advancedSearchStyle{
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
